In [2]:
%matplotlib inline

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statistics

In [12]:
# Load in csv
ride_df = pd.read_csv("Resources/ride_data.csv")
city_data_df = pd.read_csv ("Resources/city_data.csv")
city_data_df.head(10)
#ride_df.head()

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [18]:
#gget the columns and rows that are not null
city_data_df.count()
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [19]:
#make sure driver_count is an integer data type
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [21]:
#getting the unique values of the type of city
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [22]:
#to get the number of daa points for each of the above cities
sum(city_data_df["type"]=="Urban")

66

In [23]:
#to get the number of daa points for each of the above cities
sum(city_data_df["type"]=="Suburban")

36

In [24]:
#to get the number of daa points for each of the above cities
sum(city_data_df["type"]=="Rural")

18

In [26]:
# Get the columns and the rows that are not null.
ride_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [28]:
#check for null values
ride_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [29]:
#check the data types of the columns
ride_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [32]:
#Merge  the two dataframes together. the tables have city  in common
# Combine the data into a single dataset
pyber_data_df=pd.merge(ride_df, city_data_df, on=["city","city"])
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,Lake Jonathanshire,2019-04-07 20:51:11,31.25,4441251834598,5,Urban
2,Lake Jonathanshire,2019-03-09 23:45:55,19.89,2389495660448,5,Urban
3,Lake Jonathanshire,2019-04-07 18:09:21,24.28,7796805191168,5,Urban
4,Lake Jonathanshire,2019-01-02 14:14:50,13.89,424254840012,5,Urban